<div class="admin-panel">
    <span class="bus-name" routerLink='/home'>Bus4U </span>
    <div class="login-panel">
        <span>Help</span>
        <span>Manage Booking</span>
        <span><img
                src="https://cdn-icons.flaticon.com/png/128/3293/premium/3293331.png?token=exp=1640580064~hmac=23e02e2374b50e5f0a44c267bc8017f1">

            <img
                src="https://cdn-icons.flaticon.com/png/128/2985/premium/2985150.png?token=exp=1640581501~hmac=5f6d0c4f07251ed7fd50567fb5f906b7">
        </span>
    </div>
</div>