<div class="busList">
    <div class="bus">
        <div class="title">
            <p><strong>Bus Name</strong></p>
        </div>
        <div class="title">
            <p>Departure</p>
        </div>
        <div class="title">
            <p>Duration</p>
        </div>
        <div class="title">
            <p>Arrival</p>
        </div>
        <div class="title">
            <p>Fare</p>
        </div>
        <div class="title">
            <p>Seats Available</p>
        </div>
    </div>
    <div class="buses" *ngFor="let bus of busLists">

        <div class="bus-name">

            <p><strong>{{bus.name}}</strong></p>
            <p>{{bus.type}}</p>
        </div>
        <div class="bus-name">
            <p>{{bus.boarding_time}}</p>
            <p><strong>{{bus.boardingPoint}}</strong></p>
        </div>
        <div class="bus-name">
            <p>{{bus.hours}}</p>
        </div>
        <div class="bus-name">
            <p>{{bus.drop_time}}</p>
            <p><strong>{{bus.droppingPoint}}</strong></p>
        </div>
        <div class="bus-name">
            <p>{{bus.fare}}</p>
        </div>
        <div class="bus-name">
            <p>{{bus.seat}}</p>
            <p><button (click)="bookBus(bus)">Book Now</button></p>
        </div>
        <div class="thirdComponent" *ngIf="bus.name === selectedBus">
            <button (click)="acBus(acCost)">Ac <div #acCost>{{bus.fare * 2}}</div></button>
            <button (click)="nonAcBus(nonAcCost)">Non Ac<div #nonAcCost>{{bus.fare }}</div></button>
            <app-find-seat [input]=seatingCost (output)="viewCost($event)"></app-find-seat>
            <div class="cost">Make Payment ₹ {{totalCost}}</div>
        </div>

    </div>

</div>