// .container{
//     height: 100%;
//     overflow: scroll;
//   }
  .welcome-page {
      
  background-image: url("/assets/bus2.jpg");
  background-position: top;
  background-position-x: center;
  background-position-y: center;
  margin-top: 50px;
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  box-sizing: border-box;


  img {
    height: 40px;
    width: 30px;
    margin: 3px;
    padding: 0px 5px 0px 5px;
    background: none;
  }

  .search {
    margin-top: 50px;
    height: 40px;
    width: 65%;
    display: flex;
    margin-left: 10px;

    .from {
      display: inline-block;
      width: 25%;
      justify-content: space-between;

      input {
        z-index: -10;
        border: none;
        background-color: rgb(242, 247, 248);
        height: 40px;
        padding-left: 5px;
        width: 95%;
        font-size: 15px;
        font-weight: 600;
        color: rgb(17, 17, 17);
        border-radius: 5%;
        background: rgba(222, 225, 231, 0.8);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border-radius: 10px;

        &:focus {
          outline: none;
          background-color:  rgb(250, 247, 248);
        }
      }
    }
    button {
      width: 30%;
      border: none;
      font-size: 20px;
      color: white;
      font-weight: 600;
      background-color: rgb(45, 60, 115);
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background-color: rgb(53, 113, 128);
        color: black;
      }
    }
  }
}
.offer-panel {
  margin: 30px;
  padding: 20px;
  justify-content: space-between;
  transition-duration: 0.3s;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  img {
    box-shadow: 0 8px 32px 0 rgba(135, 31, 45, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  img:hover {
    box-shadow: 0 8px 32px 0 rgba(135, 31, 45, 0.37);
    transform: scale(1.02);
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  &:hover {
    box-shadow: 0px 0px 16px 3px #a0a7a8;
    //   transform:scale(1.01);
  }
  .names {
    font-size: 30px;
    font-weight: 700;
    color: brown;
    display: block;
    margin-bottom: 30px;
  }

  .class {
    width: 30%;
    margin-right: 30px;
  }
}

.about {
  margin: 30px;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  transition-duration: 0.3s;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

span {
  font-size: 20px;
  display: block;
  margin-bottom: 30px;
}

.icon {
  border-radius: 50%;
  width: 70%;
  height: 70%;
}

.name {
  text-align: left;
}

.info {
  display: flex;
  margin: 10px;
}
.infos {
  margin: 30px;
  border: 1px solid #a79d9d;
  padding: 20px;
  transition-duration: 0.3s;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.heading {
  display: block;
}

.left-content {
  width: 60%;
  padding: 10px;
}

.right-content {
  padding: 10px;
}

.container{
  // margin-top: 60px;
  height: 98vh;
  overflow-y: scroll;
}
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4E4F85;
    border-radius: 10px;
  }
  

